{% load staticfiles %}
<aside>
  <div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="/accounts/profile/"><img src="{% static "img/ui-sam.jpg" %}" class="img-circle" width="60"></a></p>
      <h5 class="centered">{{ user.first_name }} {{ user.last_name }} </h5>

{% for menu in navigation %}
      <li class="{{ menu.menu_class }}">
        <a href="{% if menu.url %}{% url menu.url %}{% else %}javascript:;{% endif %}"{% if menu.active %} class="active"{% endif %}>
          <i class="fa {{menu.icon}}"></i>
          <span>{{menu.name}}</span>
        </a>{% if menu.submenu %}
        <ul class="sub">{% for submenu in menu.submenu %}
          <li{% if submenu.active %} class="active"{% endif %}><a href="{% url submenu.url %}">{{ submenu.name }}</a></li>{% endfor %}
        </ul>{% endif %}
      </li>
{% endfor %}
    </ul>
  </div>
</aside>
