{% extends "base.html" %}

{% block title %}
Collaboration - Projects
{% endblock %}

{% block content %}
<table class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header|title }}</th>
      {% endfor %}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    {{ item }}
    <tr>
      {% for header in headers %}
      <td>{{ item|lookup:header }}</td>
      {% endfor %}
      <td>
        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
